# OPERATING SYSTEM SPECIFIC FILES

# macOS
.DS_Store
.AppleDouble
.LSOverride

._*

Icon?
Thumbs.db

# Windows
Thumbs.db
ehthumbs.db

#RECYCLE.BIN/

Desktop.ini
ntuser.dat
ntuser.ini

*.db


# DEVELOPMENT TOOLS
.vscode/
.idea/


# PROJECT FILES

# gtzan is ~1.2GB, so we don't want to commit it to git/github
# we'll just download it from the source when we need it:
# ./src/data-pipeline/dataset_downloader.py
dataset/raw/gtzan/